---
interface Props {
    tema: String;
}

const { tema } = Astro.props;
import { Icon } from "astro-icon/components";
---

<li>
    <span>
        <Icon name="CheckIcon" size={21} />
    </span>
    <p>{tema}</p>
</li>

<style lang="scss">
    li {
        display: flex;
        align-items: start;
        gap: 0.7rem;

        > span {
            margin-top: .11rem;
            flex-shrink: 0;
            color: var(--color-Secondary);
            line-height: normal;
        }
        > p {
            flex-grow: 1;
        }
    }
</style>
