---
interface Props {
    tema: string;
    colorIcono: string;
    class?: string;
}

const { tema, colorIcono, class: className, ...rest } = Astro.props;
import { Icon } from "astro-icon/components";
---

<li class=`${className}` {...rest}>
    <span class="Icono" style=`--colorIcono : ${colorIcono}`>
        <Icon name="CheckIcon" size={21} />
    </span>
    <p>{tema}</p>
</li>

<style lang="scss">
    li {
        display: flex;
        gap: 0.7rem;
    }

    .Icono {
        margin-top: 0.07rem;
        color: var(--colorIcono);
        line-height: normal;
    }
</style>
