---
interface Props {
    arrayImg: { original: string; borrosa: string }[];
}

const { arrayImg } = Astro.props;
---

<article>
    <ul class="Carrusel" id="carruselTrack">
        {
            arrayImg.map(({ original, borrosa }) => {
                return (
                    <li class="Carrusel__Lista">
                        <img
                            class="Carrusel__Img"
                            src={original}
                            style={{ backgroundImage: `url(${borrosa})` }}
                            alt="IISEP carreras"
                        />
                    </li>
                );
            })
        }
    </ul>
</article>

<style lang="scss">
    .Carrusel {
        height: 40vmin;
        min-height: 200px;
        width: max-content;
        display: flex;
        gap: 1rem;
        margin-top: var(--section-padding);
    }

    .Carrusel__Lista {
        height: 100%;
    }

    .Carrusel__Img {
        width: auto;
        aspect-ratio: 1/1 auto;
        transform: scale(1);
        transition: transform 0.3s;
        border-radius: 0.5rem;

        &:hover {
            transform: scale(1.05);
        }
    }

    @keyframes moverInfinito {
        to {
            transform: translate(calc(-50% - 0.5rem));
        }
    }
</style>

<script>
    document.addEventListener("astro:page-load", () => {
        const carrusel = document.getElementById("carruselTrack");
        carrusel.style.animation = "moverInfinito 14s forwards linear infinite";
    });
</script>
