---

---

<div class=`Card` data-categoria="Sede Comas">
    <a href="" style="overflow: hidden; display: block;">
        <img class="Card__imagen" 
            src="https://larepublica.cronosmedia.glr.pe/original/2023/04/20/6441413ff34626416b327c66.jpg" 
            alt="iisep direccion comas"
            fetchpriority="low" 
            />
    </a>
    <div class="Card__Contenido">
        <h3 class="Card__titulo">Ubicacion Comas</h3>
        <p class="Card__texto">Av. Túpac Amaru 3850, Callao 15326</p>
        <a href="https://maps.app.goo.gl/PmnRKM6YWpfBH7mt6" rel="noreferrer" target="_blank"class="Card__Boton small">Ver Mapa</a>
    </div>
</div>

<style lang="scss">
    .Card {
        grid-area: ubicacion;
        align-self: start;
        background-color: rgb(255, 255, 255);
        display: grid;
        gap: 1rem;
        // position: relative;
        overflow-x: hidden;
        border-radius: 1rem;
        box-shadow: 0 0 5px 2px rgb(237, 236, 236);
        position: sticky;
        top: 4rem;
        
        &__imagen {
            aspect-ratio: 16/9;
            transform: scale(1.02);
            transition: transform .7s;

            &:hover {
                transform: scale(1.3);
            }
        }

    }

    .Card__Contenido {
        padding-inline: 1rem;
        padding-bottom: 1rem;
        display: grid;
         gap: 1rem;
    }

    
    
    .Card__Boton {
         justify-self: end;
        display: block;
        background-color: #fd053f;
        color: white;
        width: max-content;
        padding: 0.4rem 1rem;
    }

   
</style>
