---
const { array } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div class="container">
    {
        array.map(({ icono, texto, bg, color }) => {
            return (
                <article class="contenido">
                    <span class="Icon" style={`--bgIcon: ${bg}`}>
                        <Icon name={icono} size={35} color={color}/>
                    </span>
                    <p class="parrafo"> {texto}</p>
                </article>
            );
        })
    }
</div>

<style lang="scss">
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        width: min(90%, 700px);
        margin-inline: auto;

    }

    .contenido {
        flex-basis: 40%;
        min-width: 130px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        color: #fff;

        @media screen and (width > 640px) {
            flex-basis: 30%;
        }
    }

    .Icon {
        background-color: var(--bgIcon);
        // background-color: rgb(255, 172, 18);
        color: black;
        padding: 0.7rem;
        border-radius: 50%;
        display: grid;

        
    }

    .parrafo {
        text-align: center;
        white-space: pre-line;
        color: #232323;
        font-weight: 600;
    }
</style>
