---
import Formulario from "../components/Formulario/Formulario.astro";
import Layout from "../components/Layout.astro";


---

<Layout titulo="contacto" descripction="gefwe">
    <section>
        <div class="wrapper" style="place-items: center;">
            <h2>Ponte en Contacto</h2>
            <Formulario />
        </div>
    </section>
</Layout>
