---
import Layout from '../components/Layout.astro';
import CardBeneficio from '../components/CardBeneficio/ItemBeneficio.astro';
import SplitLayout from '../components/SplitLayout/SplitLayout.astro';
import CarruselInfinito from '../components/CarruselInfinito/CarruselInfinito.astro';

//data
import {Beneficios} from "../data/Beneficio.js";
import AboutUs from "../data/WhatIIsep.json";
import ImgCarrusel from "../data/Imagenes.json";
import Banner from '../components/Banner/Banner.astro';
import Data from "../data/PageData.json";
const {home:{titulo , description, imagenesBanner}} = Data;


const newArrayImg = [...ImgCarrusel, ...ImgCarrusel];

const { largeLcpi, smallLcpi} = imagenesBanner;

---

<Layout titulo={titulo} descripction={ description }>
	<link slot="preload" fetchpriority="high" rel="preload" as="image" href=`${smallLcpi}` media="(max-width: 640px)" type="image/webp"/>
	<link slot="preload" fetchpriority="high" rel="preload" as="image" href=`${largeLcpi}` media="(min-width: 641px)" type="image/webp"/>

	<Banner 
		titulo={"Instituto IISEP"} 
		description={`Estudia en IISEP y se un Técnico Profesional con muchas 
		espectativas de trabajo`}
		textButton={"Inscribete"}
		{...imagenesBanner}
	/>
	<main>
		<section style="overflow-x: hidden;">
			<header class="wrapper" style="text-align: center; gap: 1rem">
				<h2 class="titleSection title1">Programas de Estudio</h2>
				<p>Estudia Carreras, Especialidades, Cursos y Talleres con certificacion oficial en IISEP.</p>
			</header>
			<CarruselInfinito arrayImg={ newArrayImg }/>
			<div class="wrapper" style="justify-content: center; margin-top: clamp(2rem, 1.2727rem + 3.6364vw, 4rem);">
				<a href="/programas-estudio" style="display: block;
				background-color: var(--color-Secondary);
				color: white;
				border-radius: 100vh;
				width: max-content;
				padding: 0.4rem 1rem;">Todos los Cursos</a>
			</div>
		</section>
		<section class="sectionColor2">
			<div class="wrapper">
				<h2 class="titleSection title1" >
				Beneficios</h2>
				<CardBeneficio array = { Beneficios }/>
			</div>
		</section>
	</main>
	<section> 
		<div class="wrapper">
			<h2 class="titleSection title1">¿Por que IISEP?</h2>
			{
				AboutUs.map( (what , i) => {
					return <SplitLayout arrayInfo={ what} index={ i }/>
				})
			}
		</div>
	</section>
	
</Layout>