---
interface Props {
    propiedad: string;
    valor: string;
    colorValor: string;
    colorIcono : string;
    class?: string
}

const { propiedad, valor , colorValor , colorIcono, class: className, ...rest } = Astro.props;
import { Icon } from "astro-icon/components";
---

<li class=`Item ${className}` {...rest}>
    <span class="Item__Icono">
        <Icon name="CheckIcon" size={21} class="SvgCheck"/>
    </span>
   {propiedad}
    <span class="Item__Valor">
        {valor}
    </span>
</li>

<style lang="scss" define:vars={{ colorValor, colorIcono }}>
    .Item {
        display: flex;
        align-items: start;
        gap: 0.7rem;
        

        &__Icono {
            margin-top: .11rem;
            flex-shrink: 0;
            color: var(--colorIcono);
            position: relative;
            line-height: normal;
        }

        &__Valor{
            color: white;
            background-color: var(--colorValor);
            padding-inline: .5rem;
            font-weight: 700;
            
        }
        
    }

    .SvgCheck {
        position: relative;
    }
</style>
